.full-appointments {
  height: 570px;
  width: 452px;
  border-radius: 8px;
  border: 1px solid rgba(237, 235, 235, 1);
}
.full-appointments2 {
  height: 468px;
  width: 355px;
  border-radius: 8px;
  border: 1px solid rgba(237, 235, 235, 1);
}
.full-appointments3 {
  height: 468px;
  width: 355px;
  border-radius: 8px;
  border: 1px solid rgba(237, 235, 235, 1);
}

.text-gray {
  color: rgba(56, 68, 73, 1);
}
.date-border {
  border: 1px solid rgba(237, 235, 235, 1);
}
.layout {
  width: 63px;
  height: 101px;
  left: 0.75rem;
  border: 0.0625rem solid rgba(237, 235, 235, 1);
  position: relative;
}

.layout2 {
  width: 3.029375rem; 
  height: 4.856875rem; 
  left: 0.385rem; 
  border: 0.0484375rem solid rgba(237, 235, 235, 1); 
  position: relative;
}
.layout3 {
  width: 263.14px;      
height: 77.71px;      

}
.layout4 {
  width: 342px; 
  height: 101px;       
left: 2.838rem;  
}


.slot-morning {
  padding: 8px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(245, 245, 245, 1);
}
.slot-morning2 {
height: 22.31px;
border-radius: 3.85px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(245, 245, 245, 1);
}

.slot {
  color: rgba(138, 134, 134, 1);
}
.time {
  color: rgba(138, 134, 134, 1);
}
.bg-dr {
  border: 1px solid rgba(253, 218, 214, 1);
}

.orange-circle {
  background: rgba(255, 152, 152, 1);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.yellow-circle {
  background: rgba(255, 245, 152, 1);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.green-circle {
  background: rgba(152, 255, 193, 1);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.blue-circle {
  background: rgba(152, 199, 255, 1);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.vertical-border {
  border-left: 1px solid rgba(237, 235, 235, 1);
  height: 100px;
  margin: 0 auto; /* This centers the vertical border within its container */
}
.vertical-border2 {
  border-left: 1px solid rgba(237, 235, 235, 1);
  height: 70px;
  margin: 0 auto; /* This centers the vertical border within its container */
}
