.text-pink{
    color: rgba(255, 117, 148, 1);

}

.text-black{
    color: rgba(46, 22, 25, 1);

}
.dark-mode{
    background-color: black !important;
    color: white !important;
}
.light-mode{
    background-color: white !important;
    color: black !important;
}