.full-body {
  width: 718px;
  height: 445px;
  top: 535px;
  left: 156px;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid rgba(237, 235, 235, 1);

} 
.full-body3 {
  width: 718px;
  height: 445px;
  top: 535px;
  left: 156px;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid #2c2222;
} 
.full-body2 {
  width: 341px;
  height: 468px;
  top: 474px;
  left: 100px;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid rgba(237, 235, 235, 1);
} 
.full-body4 {
  width: 341px;
  height: 468px;
  top: 474px;
  left: 100px;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid #2c2222;
} 

.text-area {
  width: 569px;
  height: 76px;
  border-radius: 8px;
  border: 1px solid rgba(237, 235, 235, 1);
}
